li{
  list-style: none;
}

.form-container{
  border: 1px solid #ccc;
padding: 10px;
}

.display-container{
  border: 1px solid #ccc;
padding: 10px;
}

.card-container{
    border: 1px solid #ccc;
padding: 10px;
}